*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right, #41155F , #1C08A7);
    width: 100%;
    height: 100%;
}

.conteiner{
    display: flex;
}

.perfil{
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right, #41155F , #1C08A7);
}

.acessos{
    background: white;
    width: 50%;
    height: 707px;
    align-items: center;
}

.botoes{
    margin-top: 100px;
    text-align: center;
    border: 1px solid red;
    height: 500px;
}

.botoes a{
    width: 700px;
    background: #41155F;
    border-radius: 20px;
    margin-top: 10px;
}

.acessos a{
    color: white;
    text-decoration: none;
    width: 700px ;
}